exportClasses(Dataset)
exportMethods(
  add_col,
  add_cols,
  add_row,
  add_rows,
  remove_col,
  remove_cols,
  remove_row,
  remove_rows,
  get_length,
  rename_cols,
  getitem,
  to_dataframe)
export(
  dataset_from_table,
  numeric.columns,
  is.binary,
  normalize,
  standarize,
  varianza,
  entropy,
  ROC,
  AUC,
  metricas,
  filtrar,
  correlacion,
  conditional.entropy,
  mutual.information.vectors,
  mutual.information,
  mutual.correlation,
  corr.plot,
  discretize,
  discretizeEW_vector,
  discretizeEF_vector,
  discretizeEW,
  discretizeEF,
  entropy.binning,
  write.dataframe,
  read.dataframe,
  dataframe2csv,
  csv2dataframe,
  boxplot_dataset,
  pieplot)
